<footer class="o-page__footer c-footer">
    <nav>
        <ul>
            <li><a href="https://twitter.com/AldebaranRobots">Twitter</a></li>
            <li><a href="https://github.com/aldebaran">GitHub</a></li>
            <li><a href="https://lp.unitedrobotics.group/purchase_nao_pepper_aldebaran">Sales</a></li>
        </ul>
    </nav>
</footer>
